server/node_modules
server/.env
server/globalConfig.json
server/src/tests/jest.setup.js
server/client/node_modules
server/client/.pnp
server/client/.pnp.js

# testing
server/client//coverage

# production
server/client//build

# misc
server/client/.DS_Store
server/client/.env.local
server/client/.env.development.local
server/client/.env.test.local
server/client/.env.production.local

server/client/npm-debug.log*
server/client/yarn-debug.log*
server/client/yarn-error.log*
.vscode
server/client/coverage
server/coverage
server/client/src/components/addPost
node_modules
.env
dist/app.js
dist/babel.config.js
dist/client/asset-manifest.json
dist/client/index.html
dist/client/manifest.json
dist/client/precache-manifest.b56f879a4dc2b9f56b1f3c10608e05dc.js
dist/client/robots.txt
dist/client/service-worker.js
dist/client/static/css/2.316749da.chunk.css
dist/client/static/css/2.316749da.chunk.css.map
dist/client/static/css/main.5f361e03.chunk.css
dist/client/static/css/main.5f361e03.chunk.css.map
dist/client/static/js/2.85db4c35.chunk.js
dist/client/static/js/2.85db4c35.chunk.js.LICENSE.txt
dist/client/static/js/2.85db4c35.chunk.js.map
dist/client/static/js/main.cf1bbebe.chunk.js
dist/client/static/js/main.cf1bbebe.chunk.js.map
dist/client/static/js/runtime-main.09b85ec0.js
dist/client/static/js/runtime-main.09b85ec0.js.map
dist/client/static/media/roboto-all-400-italic.c762d850.woff
dist/client/static/media/roboto-all-400-normal.a91ad097.woff
dist/client/static/media/roboto-cyrillic-400-italic.8266321a.woff2
dist/client/static/media/roboto-cyrillic-400-normal.8bb64952.woff2
dist/client/static/media/roboto-cyrillic-ext-400-italic.b3e580d2.woff2
dist/client/static/media/roboto-cyrillic-ext-400-normal.4743c758.woff2
dist/client/static/media/roboto-greek-400-italic.469a7840.woff2
dist/client/static/media/roboto-greek-400-normal.c1e9793c.woff2
dist/client/static/media/roboto-greek-ext-400-italic.801b64f7.woff2
dist/client/static/media/roboto-greek-ext-400-normal.182ee6a4.woff2
dist/client/static/media/roboto-latin-400-italic.51521a2a.woff2
dist/client/static/media/roboto-latin-400-normal.479970ff.woff2
dist/client/static/media/roboto-latin-ext-400-italic.dc3871f4.woff2
dist/client/static/media/roboto-latin-ext-400-normal.455200cb.woff2
dist/client/static/media/roboto-vietnamese-400-italic.9780bde8.woff2
dist/client/static/media/roboto-vietnamese-400-normal.a8be5b46.woff2
dist/config/db.js
dist/controllers/auth.controller.js
dist/controllers/post.controller.js
dist/controllers/user.controller.js
dist/interfaces/post.interfaces.js
dist/interfaces/user.interfaces.js
dist/middlewares/auth.middleware.js
dist/models/post/post.model.js
dist/models/post/post.schema.js
dist/models/post/post.types.js
dist/models/user/user.model.js
dist/models/user/user.schema.js
dist/models/user/user.types.js
dist/routes/auth.route.js
dist/routes/index.js
dist/routes/post.route.js
dist/routes/user.route.js
dist/service/auth.service.js
dist/service/post.service.js
dist/service/user.service.js
dist/tests/jest.setup.js
dist/tests/auth/auth.controller.test.js
dist/tests/auth/auth.service.test.js
dist/tests/posts/post.controller.test.js
dist/tests/posts/post.service.test.js
dist/tests/test-resources/post.js
dist/tests/test-resources/user.js
dist/tests/users/user.controller.test.js
dist/tests/users/user.model.test.js
dist/tests/users/user.service.test.js
dist/tests/utils/tokenExtractor.test.js
dist/utils/serviceResponse.js
dist/utils/tokenExtractor.js
